header { /*   */
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    background-color: #487779;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5)  ;
}body {
    background-color:white;
    font-family: 'Inter', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6*/
    color: black;
}
h1,h2,h3,h4 {
    line-height: 1.4;
}
h1 {
    font-size: 2.75em;
    font-weight: 700;
}
h2 {
    font-size: 2.25em;
    font-weight: 700;
}
h3 {
    font-size: 1.75em;
    font-weight: 700;
    text-transform: uppercase;
}
h4 {
    font-size: 1.35em;
    font-weight: 400;
}
img {
    width: 30%;
}
.social-media img {
    width: 40px;
}

.button {
    display:inline-block;
    background-color:#487779;
    color: white;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom:10px;
    border-radius: 100px;
    border-bottom: 2px solid #233130;
    transition-duration: 0.2s;
    transition-property: background-color;
}
.button:hover {
    background-color:#65a9ab;
    color:white;
    text-decoration: none;
    cursor: pointer;
}
.button:active {
    background-color: #233130;
    color:white;
    text-decoration: none
}
.button:visited {
    color:white;
}
.button.contact {
    background-color: transparent;
    color: #487779;
    border: 2px solid #487779;
    text-transform: uppercase;
}
.button.contact:hover {
    background-color: #487779;
    color: white;
}
.button.contact:active {
    background-color: #233130;
    color:white;
}
#hero {
    color:#233130;
    background-color:#e2e4e3;
    box-sizing: border-box;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: inline-block;
}
#hero h1 {
    font-weight: 600;
}
#hero span {
    font-weight: 700;
}
#hero img {
    float: top;
    width: 100%;
}
footer {
    color:#233130;
    background-color:#e2e4e3;
    box-sizing: border-box;
    text-align: center;
}
footer img {
    margin-top: 20px;
}
a {
    color: #487779;
    text-decoration: none; /* No Underlining */
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #a6bbb6;
    text-decoration: none;
}
a:active {
    color: #233130;
    text-decoration: none;
}
#float-text {
    display: inline-block;
    box-sizing: border-box;
    color: white;
    background-color: #487779;
    font-size: .75em;
    padding: 30px;
    width: 100%;
    margin: 10px auto;
    border: 3px solid #487779;
    border-radius: 30px;
}
#float-text-2 {
    display: inline-block;
    box-sizing: border-box;
    color: white;
    background-color: #E7BA48;
    font-size: .75em;
    padding: 30px;
    width: 100%;
    margin: 10px auto;
    border: 3px solid #E7BA48;
    border-radius: 30px;
}
#float-text-3 {
    display: inline-block;
    box-sizing: border-box;
    color: white;
    background-color: #e0729d;
    font-size: .75em;
    padding: 30px;
    width: 100%;
    margin: 10px auto;
    border: 3px solid #e0729d;
    border-radius: 30px;
}
#float-text img {
    width: 100%;
    margin-top: 10px;
    margin-right: 10px
}
#float-text-2 img {
    width: 100%;
    margin-top: 10px;
    margin-right: 10px
}
#float-text-3 img {
    width: 100%;
    margin-top: 10px;
    margin-right: 10px
}
#float-text .button {
    position: relative;
    bottom: 0 auto;
}
#float-text-2 .button {
    position: relative;
    bottom: 0 auto;
}
#float-text-3 .button {
    position: relative;
    bottom: 0 auto;
}

/* Layout Styling */
.container {
    padding: 0 15px;
}
#work .row {
    margin: 25px, 0 /*25px top and bottom, 0 left and right */
}
#hero h1 {
    text-align: center;
}
.logo {
    max-width: 250px;
}
nav > ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    width: 100%;
}
nav > ul > li {
    display: inline-block;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}
#plutopay {
    padding-top: 100px;
}
#plutopay img {
    width: 100%
}
#about-page .button {
    float: center;
    margin: 0 auto;
}
#about-page h3 {
    margin-top: 0;
}
#about-picture {
    width: 100%;
    max-width: 100%;
    height: auto;
}
@keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
    
}
@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}
@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
}
.sun {
    animation: 4s color-change infinite alternate linear;
}
.cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.cloud-back { 
    animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Breakpoints media queries - Screen Size */

/*================================
Medium devices (640px and larger)
================================== */
@media only screen and (min-width: 640px) {
header {
    text-align: unset;
}
nav {
    width: auto;
    float: right;
    margin-top: 4px;
}
.logo {
    margin-top: 20px;
}
#hero {
    padding-top: 75px;
}
.col-md-6 {
    width:50%;
    float: left;
}
.row::after {
    content:"";
    clear: both;
    display: table
}
#about-page h2 {
    text-align: center;
}
}
/*================================
Large devices (1024px and larger)
================================== */
@media only screen and (min-width: 1024px) {
.col-lg-7 {
    width:60%;
    float: right;
}
.col-lg-5 {
    width:40%;
    float: left; 
}
#hero {
    padding-top: 100px;
    text-align: left;
}
#hero h1 {
    text-align: left;
}
.container {
    max-width: 1200px;
}
#about-page h1 {
    text-align: center;
}
#about-page .button {
    float: center;
    margin: 0 auto;
}
}
/*================================
X-Large devices (1440px and larger)
================================== */
@media only screen and (min-width: 1440px) {
    
}