body {
    background-color:white;
    font-family: 'Inter', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6*/
    color: black;
}
h1,h2,h3,h4 {
    line-height: 1.4;
}
h1 {
    font-size: 2.75em;
    font-weight: 700;
}
h2 {
    font-size: 2.25em;
    font-weight: 700;
}
h3 {
    font-size: 1.75em;
    font-weight: 700;
    text-transform: uppercase;
}
h4 {
    font-size: 1.35em;
    font-weight: 400;
}
img {
    width: 30%;
}
.social-media img {
    width: 40px;
}

.button {
    display:inline-block;
    background-color:#487779;
    color: white;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom:10px;
    border-radius: 100px;
    border-bottom: 2px solid #233130;
    
}
.button:hover {
    background-color:#65a9ab;
    color:white;
    text-decoration: none
}
.button:active {
    background-color: #233130;
    color:white;
    text-decoration: none
}
.button:visited {
    color:white;
}
.button.contact {
    background-color: transparent;
    color: #487779;
    border: 2px solid #487779;
    border-bottom: 2px solid #233130;
    text-transform: uppercase;
}
.button.contact:hover {
    background-color: #487779;
    color: white;
}
.button.contact:active {
    background-color: #233130;
    color:white
}
#hero {
    color:#233130;
    background-color:#e2e4e3;
    box-sizing: border-box;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: inline-block;
}
#hero img {
    float: top;
    width: 100%;
}
footer {
    color:#233130;
    background-color:#e2e4e3;
    box-sizing: border-box;
    text-align: center;
}
footer img {
    margin-top: 20px;
}
a {
    color: #487779;
    text-decoration: none; /* No Underlining */
}
a:visited {
    color: #white;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #a6bbb6;
    text-decoration: none;
}
a:active {
    color: #233130;
    text-decoration: none;
}
#float-text {
    display: inline-block;
    box-sizing: border-box;
    color: white;
    background-color: #487779;
    padding: 30px;
    width: 100%;
    margin: 10px auto;
    border: 3px solid #487779;
    border-radius: 30px;
}
#float-text img {
    float: bottom;
    width: 100%;
    margin-top: 10px;
}
#float-text a {
    position: relative;
    float: bottom;
}
/* Layout Styling */
.container {
    padding: 0 15px;
}
#work .row {
    margin; 25px,0 /*25px top and bottom, 0 left and right */
}
#hero h1 {
    text-align: center;
}
.logo {
    max-width: 250px;
}
nav > ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    width: 100%;
}
nav > ul > li {
    display: inline-block;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}
header { /* my navigation bar has a margin on the left but overflows on the right side of the screen */
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    background-color: #487779;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5)  ;
}
