/* TYPOGRAPHY */

body {
    background-color:white;
    font-family: 'Inter', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6*/
    color: #333;
}
h1,h2,h3,h4 {
    line-height: 1.4;
}
h1 {
    font-size: 2.5em;
    font-weight: 700;
}
h2 {
    font-size: 2.25em;
    font-weight: 700;
}
h3 {
    font-size: 1.75em;
    font-weight: 700;
    text-transform: uppercase;
}
h4 {
    font-size: 1.35em;
    font-weight: 400;
}
h1 span, h2 span, h3 span, #webdesign p span {
	color: #038188;
    font-weight: 700;
}

.title span {
    font-weight: 700;
    color: #038188;
}
.title {
    padding-top: 50px;
    text-align: center;
}

/* NAVIGATION */

.logo {
    width: 160px;
    line-height: 60px;
}
nav .logo {
    margin-left: 40px;
    padding-top: 12px;
}

nav {
    height: 60px;
    width: 100%;
    background: #094347;
}

.navtoggle .icon {
    position: absolute;
    right: 0;
    margin-right: 40px;
    top: 2px;
    font-size: 20px;
    line-height: 60px;
    color: white;
    display: none;
}

nav > ul {
    float: right;
    margin-right: 40px;
    list-style-type: none;
}

nav > ul > li > a {
    padding: 0 15px;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 0.85rem;
    color: white;
}

.navtoggle ul li a:hover {
    border: 1px solid white;
    background: white;
    color: #094347;
    transition: 0.5s;
}

* {
    scroll-behavior: smooth;
}



/* LAYOUT */

.divider {
	border-bottom: 1px solid rgb(102, 102, 102,0.2);
	margin: 20px 0;
}

/* CONTAINER */

.container, .carousel {
	padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    height: auto;

}

/* HERO SECTION */


#hero-section .container img{
	width: auto;
    max-height: 500px;
}

.hero-details {
    justify-content: center;
}
.hero-details p, .project-text p, #about-section p, #contact-section .contact-header p {
	color:  rgb(122, 122, 122);
}

.hero-details .row {
    width: 300px;
    display: inline-block;
    padding-top: 20px;
    align-content: center;

}

.project-button a {
    text-decoration: none;
    color: white;
}

.hero-details .row .project-button {
    margin-right: 10px;
}

.hero-details .button {
    display: inline-block;
    align-items: center;
    padding: 0 3px;
}


.hero-details .row .button, .hero-details .row .button:hover, .hero-details .row .button:active {
    text-decoration: none;
    color:rgb(102, 102, 102);
    font-size: .9rem;
}
    
.project-button a:visited, .project-button a:hover,.project-button a:focus {
    color: white;
    text-decoration: none;
}

/* ABOUT ME SECTION */

#about-section {
    background: rgba(124, 159, 160, 0.10);
    border-top: 1px solid rgb(102, 102, 102,0.2);
    border-bottom: 1px solid rgb(102, 102, 102,0.2);
}

#about-section img {
    width: 50%;
    height: auto
}

#about-section #sml-device {
    display: none;
}

.skills-col, .tools-col {
    width: 50%;
    padding-left: 50px;
    margin: 0 auto;
}

.skills-tools-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.about-details h1, .about-details h2, .about-details p {
    text-align: center;
}

/* PROJECTS SECTION */

.project-header, .project-details h2, .contact-header {
    text-align: center;

}

.project-details {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    border: 1px solid rgb(102, 102, 102,0.5);
    border-radius: 30px;
    width: 300px;
    height: 600px;
    box-shadow: 0 4px 15px rgb(102, 102, 102);
}

.project-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    position: relative;
    border-radius: 30px 30px 0 0 ;
}

.button {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.project-button {
    display: inline-block;
    padding: 0;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    margin: 0 auto;
    color: white;
    text-align: center;
    border-radius: 100px;
    border: none;
    box-shadow: 0 5px 10px rgb(102, 102, 102);
    background-color: #038188;
    font-size: 0.8rem;
}


.project-button:hover {
    background-color: #014a4e;
}

.project-button:active {
    transform: scale(0.9);
}

#web-design img {
    width: 300px;
    height: 275px;
    object-fit: cover;
}

.project-img img {
    width: 100%;
    object-fit: cover;
    display: block;   
    margin: auto;
    border-radius: 30px 30px 0 0;
    border: 1px solid rgb(102, 102, 102,0.5);
} 

.project-link {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.6);
    border-radius: 30px 30px 0 0;
    border: 1px solid rgb(102, 102, 102,0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.project-link a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.project-link:hover {
    opacity: 1;
}


.project-text {
    padding: 20px;
    height: 320px;
    font-size: 0.9rem;
}

.text-cutoff {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

/* PROJECT ANIMATION */

.project-details svg {
    object-fit: cover;
    height: 300px;
    width: auto;
    border-radius: 30px 30px 0 0 ;
    background-color: pink;
}

@keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
}
@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}
@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
}
.sun {
    animation: 4s color-change infinite alternate linear;
}
.cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.cloud-back { 
    animation: 34s cloud-move-reverse infinite alternate linear;
}

/* CONTACT FORM */

.contact-section {
    margin: 0 auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: rgba(124, 159, 160, 0.15);
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    border-radius: 30px;
}

.contact-details {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

label, input, textarea {
    display: block;
    justify-content: center;
    margin: 0.5rem 0;
}

label, input {
    width: 100%;
    margin-right:10px;
}

input, #comments {
    border: 1px solid rgb(102, 102, 102, 0.8);
    border-radius: 4px;
}

input {
    height: 1.5rem;
}

::placeholder, #comments {
    font-family: 'Inter', sans-serif;
}

#comments {
    width: 100%;

}

.contact-form label {
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
}

#contact-section button {
    width: 100px;
    height: 30px;
    margin: 0 auto;
    border-radius: 100px;
    border: none;
    box-shadow: 0 5px 10px rgb(102, 102, 102);
    color: white;
    background-color:  #038188;
}

/* FOOTER STYLING */

footer {
    color:white;
    background-color:#094347;
    box-sizing: border-box;
    text-align: center;
}
footer img {
    margin-top: 20px;
}
.footer-text {
    width: 75%;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 0.9rem;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:visited {
    color: white;
    text-decoration: none;
}

footer a:hover,footer a:focus {
    color: #a6bbb6;
    text-decoration: none;
}

footer a:active {
    color: #233130;
    text-decoration: none;
}

.contact-icons {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.button-contact {
    margin-bottom: 0;
}

.copyright-text {
    font-size: .75rem;
    padding: 10px 0;
    font-style: italic;
}

/* PROJECT CASE STUDY PAGES */

#plutopay .divider {
    width: 1200px;
    margin: 20px auto;
}

#intro .project-title {
    font-size: 1.5rem;
}

#intro #plutopay-img, #intro #webdesign-img {
    width: 1200px;
    height: 300px;
    object-fit: cover;
}

#webdesign-img {
    object-position: center;
}

#webdesign section #intro::after {
    display: none;
}

#intro #design-prc-img {
    width: 1200px;
    height: auto;
}


.container-col {
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 1200px;
}

.container-row {
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 1200px;
}

.timeline {
    width: 30%;
}
.project-descr {
    width: 70%;
}

.section-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.section-title img, #define .section-title img {
    width: 50px;
    height: 50px;
}

.section-title img #goals, .section-title img #insights{
    width: 20px;
    height: 20px;
}

.container-col #align-ctr {
    align-items: center;
}

#userfeedback, #affinity-mapping2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

#define .container-project {
    width: 100px;
    height: auto;
}

.img-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 200px;
}

#retro {
    margin-bottom: 100px;
}


/* PLUTOPAY PAGE */

#define .container-project {
    text-align: left; 
    justify-content: center;
    align-items: start;
    margin: 0 auto;
}

#define {
    margin: 0 auto;
}

#define img {
    width: 1200px;
    height: auto;
}

.container #userflow {
    margin: 0 auto;
}

.container #userflow img {
    width: 300px;
}

#affinity-mapping2, #userfeedback {
    width: 100%;
    height: auto;
}

#prototype-img {
    width: 100%;
    height: auto;
}

#iterate .container-row {
    align-items: center;
}

/* Back to Top Button */

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    height: 3rem; 
    width: 3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 16, 76);
    border-radius: 200px;
    padding: 0.5rem;
    text-decoration: none;
    box-shadow: 0 3px 5px rgb(102, 102, 102);
    transition: 0.2s ease-out;
}

.back-to-top i {
    font-size: 2rem;
    transition: 0.2s ease-out;
}

.back-to-top:hover {
    background-color: rgb(145, 20, 62);
}

.back-to-top i:hover {
    transform: translateY(-5px);
}

/*================================
Small devices (364px and 640px)
================================== */

@media only screen and (360px <=width <= 640px  ) {
    nav .logo {
        padding-top: 24px;
    }  

    nav ul {
        position: fixed;
        width: 100%;
        height:100vh;
        background: #5b6c6d;
        top:60px;
        left: -150%;
        text-align: center;
        transition: all .5s;
        margin: 0;
    
    }
    .navtoggle.responsive ul {
        left: 0%;
    }

    .navtoggle,.navtoggle.responsive {
        position: relative;
    }
    .navtoggle .icon {
        display: block;
    }

    .navtoggle.responsive li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    
    
    #hero-section img {
        max-width: 100%;
    }
        
    #hero-section .container, #about-section .container {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            height: auto;
    }

    .hero-details .row {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;        
    }

    #about-section #lrg-device {
        display: none;
    }
 
    .skills-tools-details {
        margin: 0 auto;
        display: flex;
        align-items: start;
        justify-content: center;
    }

    #about-section ul, #about-section h3 {
        text-align: left;
    }
    .container, #contact-section {
        padding: 40px;
    }

    .project-button {
        display: block;
    }


    #projects-section .carousel {
    display: flex;
    height: auto;
    grid-auto-flow: column;
    scroll-behavior: auto;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    scrollbar-width: none;
    gap: 50px;
    }
    .project-details {
        box-shadow: none;
    }

    .carousel::-webkit-scrollbar {
        display: none;
    }
    
    #contact-section .container {
        padding: 0;
    }

    #contact-section .contact-form .contact-details {
        flex-direction: column;


    }

}

/*================================
Medium devices (640px to 1024px)
================================== */

@media only screen and (640px <=width <= 1024px  ) {
    nav .logo {
        padding-top: 24px;
    }  

    nav ul {
        position: fixed;
        width: 100%;
        height:100vh;
        background: #5b6c6d;
        top:60px;
        left: -150%;
        text-align: center;
        transition: all .5s;
        margin: 0;
    
    }
    .navtoggle.responsive ul {
        left: 0%;
    }

    .navtoggle,.navtoggle.responsive {
        position: relative;
    }
    .navtoggle .icon {
        display: block;
    }

    .navtoggle.responsive li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    
    
    #hero-section .container, #about-section .container {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            height: auto;
    }

    .hero-details .row {
        width: 300px;
        margin: 0 auto;
        align-items: center;        
    }
    #about-section #lrg-device {
        display: none;
    }
    #about-section #sml-device {
        display: block;
        margin: 0 auto;
    }
    .skills-tools-details {
        margin: 0 auto;
        display: flex;
        align-items: start;
        justify-content: center;
    }

    #about-section ul, #about-section h3 {
        text-align: left;
    }
    .container, #contact-section {
        padding: 40px;
    }
    #projects-section .carousel {
    display: flex;
    grid-auto-flow: column;
    scroll-behavior: auto;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    scrollbar-width: none;
    gap: 50px;
    }
    .project-details {
        box-shadow: none;
    }

    .carousel::-webkit-scrollbar {
        display: none;
    }

    #contact-section .contact-form .contact-details {
        flex-direction: column;

    }

}
/*================================
Larger devices (1024px and larger)
================================== */
@media only screen and (min-width: 1024px) {
    nav .logo {
        margin-top: 12px;
    }
    #hero-section {
        padding-top: 20px;   
    }

    nav > ul {
        margin: 1em 0;
        margin-right: 40px;
        padding: 0;
    }

    .navtoggle li {
        display: inline-block;
    }
    
    .logo {
        max-width: 250px;
    }
    .container {
        max-width: 1200px;
        padding: 50px;
    }


}
